.red {
    color: red;
    border: 1px solid red;
}

.green {
    color: green;
    border: 1px solid green;
}
.carousel-item img {
    width: 100%;
    height: auto;
  }
  
  .container {
    padding: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    text-align: center;
  }
  